/*
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-icore.dtsi"
 
/ {
	model = "Engicam i.CoreM6 DualLite/Solo open frame";
	compatible = "fsl,imx6-icore", "fsl,imx6dl";
};

&mxcfb1 {
	compatible = "fsl,mxc_sdc_fb";
	disp_dev = "ldb";
	interface_pix_fmt = "RGB24";
	mode_str ="Amp-WD";
	default_bpp = <32>;
	int_clk = <0>;
	late_init = <0>;
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";
		crtc = "ipu1-di0";
		primary;

		display-timings {
                        native-mode = <&timing1>;
                        timing1: hsd100pxn1 {
                                clock-frequency = <70000000>;
                                hactive = <1280>;
                                vactive = <800>;
                                hback-porch = <40>;
                                hfront-porch = <40>;
                                vback-porch = <10>;
                                vfront-porch = <3>;
                                hsync-len = <80>;
                                vsync-len = <10>;
                        };
                };
	};
};

&i2c3 {

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
		VDDD-supply = <&reg_1p8v>;
	};

	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5826";
		reg = <0x38>;
		pinctrl-names = "default";		
		pinctrl-0 = <&pinctrl_edt_ft5x06>;
		interrupt-parent = <&gpio5>;
		interrupts = <30 0>;
		pinctrl-assert-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
	};
	
	pcf8563: rtc@51 {
		compatible = "pcf8563";
		reg = <0x51>;
	};
};

&iomuxc {
	touchpanel{
		pinctrl_edt_ft5x06:  edt-ft5x06grp  {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30 0x1b0b0 /*interrupt*/ 
				MX6QDL_PAD_GPIO_7__GPIO1_IO07  0x1b0b0 /*reset edt*/
			>;
		};
	};
	
	hog {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_2__GPIO1_IO02 0x1f059
				MX6QDL_PAD_EIM_D19__GPIO3_IO19 0x1f059 /* not used pin for ADV7180 driver compatibility */
			>;
		};
	};
};
