/*
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-icore.dtsi"
 
/ {
	model = "Engicam i.CoreM6 Dual/Quad open frame";
	compatible = "fsl,imx6-icore", "fsl,imx6q";
};

&mxcfb1 {
	compatible = "fsl,mxc_sdc_fb";
	disp_dev = "ldb";
	interface_pix_fmt = "RGB666";
	mode_str ="Amp-WD";
	default_bpp = <16>;
	int_clk = <0>;
	late_init = <0>;
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";
		crtc = "ipu2-di0";
		primary;

		display-timings {
                        native-mode = <&timing1>;
                        timing1: hsd100pxn1 {
                                clock-frequency = <33000000>;
                                hactive = <800>;
                                vactive = <480>;
                                hback-porch = <30>;
                                hfront-porch = <30>;
                                vback-porch = <5>;
                                vfront-porch = <5>;
                                hsync-len = <64>;
                                vsync-len = <20>;
                        };
                };
	};
};

&i2c3 {

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
		VDDD-supply = <&reg_1p8v>;
	};

	polytouch: st1232_ts@55 {
		compatible = "sitronix,st1232-ts";
		reg = <0x55>;
		pinctrl-names = "default";		
		pinctrl-0 = <&pinctrl_st1232_ts>;
		interrupt-parent = <&gpio5>;
		interrupts = <30 0>;	
		reset-gpios = <&gpio6 0 1>;
	};
	
	pcf8563: rtc@51 {
		compatible = "pcf8563";
		reg = <0x51>;
	};
};


&iomuxc {
	touchpanel{
		pinctrl_st1232_ts:  st1232-tsgrp  {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30 0x1b0b0 /*interrupt*/ 
				MX6QDL_PAD_CSI0_DAT14__GPIO6_IO00 0x1b0b0 /*reset edt*/
			>;
		};
	};
	
	hog {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_2__GPIO1_IO02 0x1f059
				MX6QDL_PAD_EIM_D19__GPIO3_IO19 0x1f059 /* not used pin for ADV7180 driver compatibility */
			>;
		};
	};
};
